name: Build OS

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Get code
      uses: actions/checkout@v3

    - name: Install tools
      run: |
        sudo apt update
        sudo apt install -y nasm

    - name: Build bootloader
      run: |
        nasm boot.asm -f bin -o boot.bin
        dd if=/dev/zero of=os.img bs=512 count=2880
        dd if=boot.bin of=os.img conv=notrunc

    - name: Upload image
      uses: actions/upload-artifact@v3
      with:
        name: os-image
        path: os.img
